.search-wrapper{
    min-height: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form{
    width: 100%;
    text-align: center;
}

.inp-search{
    max-width: 600px !important;
    height: 45px !important;
    vertical-align: top;
    border: 3px solid #ED6D9E !important;
    border-radius: 0px !important;
    font-family: 'Poppins';
    padding: 0px 20px !important;
    letter-spacing: 0.2rem;
    font-size: 1.8rem !important;
    color: #9E2252;
}

.inp-search:focus {
    box-shadow: none !important;
}

button.btn-search {
    border-style: none;
    background: #ED6D9E;
    height: 51px;
    width: 51px;
    border: 3px solid #ED6D9E;
    border-left: 0px;
    cursor: pointer;
}
/* Responsive CSS Starts Here */


/* Responsive CSS Ends Here */