.menu ul {
    margin-top: 82px;
    text-align: center;
    font-family: 'Seaweed Script';
}

.menu ul li {
    font-size: 3.3rem;
    padding: 27px;
    color: #EF005B;
    text-decoration: underline;
}