.login-wrapper {
  /* display: none; */
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  max-width: 540px;
  max-height: 415px;
  min-width: 300px;
  min-height: 350px;
  background: #9e2252;
  border-radius: 11px;
}

#login-form, #signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-X-close {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 35px;
  color: #9e2252;
  font-size: 3rem;
  line-height: 31px;
  cursor: pointer;
}

.login-input-wrapper{
  width: 80%;
  text-align: center;
}

.inp-username-wrapper {
  margin-bottom: 10px;
}

.inp-label {
  display: block;
  text-align: left;
  width: 80%;
  margin: auto;
  font-family: 'Seaweed Script';
  color: #F4EDF0 !important;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

input {
  height: 60px !important;
  border-radius: 3px !important;
  width: 80% !important;
}

input#inpUserName, input#inpUserPassword, input#inpConfirmPassword{
  font-family: 'Poppins';
  text-align: center;
  font-size: 2rem;
  color: #EF005B;
}

.btn-submit {
  border-style: none;
  min-width: 100px;
  min-height: 50px;
  border-radius: 3px;
  background: #fff;
  font-size: 1.3rem;
  color: #9e2252;
}

#login-form .btn-submit {
  margin-top: 30px;
}

#signup-form .btn-submit {
  margin-top: 10px;
}

@media only screen and (max-width: 700px) {
  input {
    height: 50px !important;
    font-size: 1.7rem !important;
  }

  .login-wrapper {
    max-height: 350px;
  }
}